@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Exo+2');

html,body {

height:100%;
width:100%;
margin:0;
padding: 0;
font-family: 'Exo 2', sans-serif;
	
}

#mainWrapper {
	
height:100%;
width:100%;
	
}

#barUp {

height:10%;
min-height:80px;
width:100%;
margin:0 auto;
background:#1F313A;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.colorChange {
	
float:right;
border:none;
outline:none;
margin:auto;
height:100%;
width:100px;
background:url(../img/icon.png) center / contain no-repeat;
cursor:pointer;
	
}

#nameWrapper {

height:10%;
min-height:80px;
width:100%;
margin:0 auto;
background:#CADADB;
display:flex;
align-items: center;
justify-content:start;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.plantName {

font-size:40px;
margin-left:7.5%;
color:#009E7F;
font-weight:bold;
}


#middleWrapper {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
flex-wrap:wrap;
background:#D2E3E5;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}


.statsBox {

height:300px;
width:300px;
background:#F0FEFF;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}


#headingWrapper {

width:100%;
height:50px;
	
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;

}

#stat1,#stat2,#stat3,#stat4 {

font-size:5.5rem;
color:#009E7F;	
font-weight:bold;
/*background:blue;
margin:auto;
text-align:center;*/
align-self:center;
	
}

#chartBox {

height:300px;	
flex: 0 0 95%;
max-width:1630px;
background:#F0FEFF;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-top:3%;
margin-bottom:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

/*dark mode*/

#nameWrapper.-darkmode {

height:10%;
width:100%;
margin:0 auto;
background:#162428;
display:flex;
align-items: center;
justify-content:start;

}

.heading.-darkmode {

margin-left:5%;
font-size:2rem;
color:white;

}

.statsBox.-darkmode {

height:300px;
width:300px;
/*max-width:16%;
max-height:75%;*/
background:#1F313A;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
	
}

#middleWrapper.-darkmode {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
flex-wrap:wrap;
background:#1A2A30;
	
}

#chartBox.-darkmode {

height:300px;	
flex: 0 0 95%;
max-width:1630px;
background:#1F313A;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-top:3%;
margin-bottom:3%;
	
}

@media (max-height: 900px) {
	
/*
#middleWrapper {
background:blue;
}*/


.statsBox {

height:250px;
width:250px;

}

#chartBox {

height:250px;	
flex: 0 0 89%;	
	
}

  
}


@media (max-height: 768px) {
  
/*
#middleWrapper {
background:red;
}*/


.statsBox {

height:230px;
width:230px;

}

#chartBox {

height:230px;	
flex: 0 0 89%;	
	
}

  
}

