@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Exo+2');

html,body {

height:100%;
width:100%;
margin:0;
padding: 0;
font-family: 'Exo 2', sans-serif;
	
}

#mainWrapper {
	
height:100%;
width:100%;
	
}

#barUp {

height:10%;
min-height:80px;
width:100%;
margin:0 auto;
background:#1F313A;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.colorChange {
	
float:right;
border:none;
outline:none;
margin:auto;
height:100%;
width:100px;
background:url(../img/icon1.svg) center / contain no-repeat;
/*background: red;*/
background-size: 60px 60px;
cursor:pointer;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

.settingsBtn {

float:right;
border:none;
outline:none;
height:100%;
width:100px;
background:url(../img/icon3.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor:pointer;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}


#nameWrapper {

height:10%;
min-height:80px;
width:100%;
margin:0 auto;
background:#CADADB;
display:flex;
align-items: center;
justify-content:start;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.plantName {

font-size:40px;
margin-left:7vw;
color:#009E7F;
font-weight:bold;

}

#conditionWrapper {

height:100%;
/*background: yellow;*/
display:flex;
align-items:center;
margin-left:2.5vw;

}

.conditionName {

font-size:40px;
color:#929999;

}

.health {

font-size:40px;
color:#9DA5A5;
margin-left:0.5vw;
/*color:#009B4A;*/

}

.waterIcon {

min-height:80px;
width:50px;
/*margin-left:1vw;*/
background:red;
background:url(../img/icon4.svg) center / contain no-repeat;
/*background: red;*/
background-size: 50px 50px;
cursor:pointer;

}

#middleWrapper {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
flex-wrap:wrap;
background:#D2E3E5;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

.statsBox1,.statsBox2,.statsBox3,.statsBox4 {

height:21vw;
width:21vw;
background:#F0FEFF;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
/*display:flex;
flex-direction: column;
justify-content:space-between;*/
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

position:relative;
cursor:pointer;
	
}

#headingWrapper {

width:100%;
height:50px;
position: absolute;
	
}

.heading {

margin-left:5%;
font-size:2rem;
color:#97AFAD;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

#stat1,#stat2,#stat3,#stat4 {

font-size:4rem;
color:#009E7F;	
font-weight:bold;
/*background:blue;*/
margin:auto;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translateX(-50%) translateY(-50%);
	
}

#barTemp,#barAir,#barSoil,#barWater {

width:100%;
height:20%;
background: #CFE0E8;
position: absolute;
bottom: 0px;
border-radius:0 0 8px 8px;

}

#chartWrapper {

height:21vw;
width: 93vw;
/*width:84.5em;*/
position: relative;
background:#F0FEFF;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

#chartAndTimeWrap {

margin-top:2%;
margin-bottom:2%;

}

#timeWrapper {

/*background:green;*/
margin-bottom:0.5%;

}

#timeWrapper>div {

display:inline-block;

}

.today,.lastWeek,.lastMonth {

height:2.5em;
width:6em;
background:#F0FEFF;
border-radius:4px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
text-align:center;
line-height:2.5em; 
color:#97AFAD;
cursor: pointer;

}

.lastWeek,.lastMonth {

margin-left:0.3vw;

}

#middleSettings {
	
display: none;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
flex-wrap:wrap;
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
/*background: red;*/
background:#D2E3E5;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

.setupWrapperUp {

height:15vw;
width:39vw;
/*background:red;*/
background:#F0FEFF;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-top:1%;

}

.setupWrapperB {

height:15vw;
width:39vw;
/*background:red;*/
background:#F0FEFF;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-bottom:5%;

}

.setupHeading {

margin-left:2.5%;
font-size:1.5rem;
color:#97AFAD;
display:block;

}

.rangeWrapper {

display:block;
width:100%;
height:5vw;
/*background:red;*/
text-align:center;
margin-top:1%;

}

.rangeText {

color:#97AFAD;
font-size:1.2em;

} 

.output {

text-align:center;
font-size:1.5rem;
color:#009E7F;

}

.slider {

-webkit-appearance: none;
outline: none;
width:20vw;
height:0.7em;
background:#CFE0E8;
opacity: 0.7;

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 2em;
height: 2em;
background: #5D6568;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

#submitSettings {

-webkit-appearance: none;
outline:none;
border:none;
border-radius:6px;
color:#97AFAD;
font-family: 'Exo 2', sans-serif;
font-size:1rem;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
background:#F0FEFF;
position: absolute;
width:5vw;
height:3vw;
bottom: 4%;
left: 50%;
transform: translateX(-50%);

}

/*dark mode*/

.rangeText {

color:white;
font-size:1.2em;

} 

.setupHeading.-darkmode {

margin-left:2.5%;
font-size:1.5rem;
color:white;
display:block;

}

#submitSettings.-darkmode {

-webkit-appearance: none;
outline:none;
border:none;
border-radius:6px;
color:white;
font-family: 'Exo 2', sans-serif;
font-size:1rem;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
background:#162428;
position: absolute;
width:5vw;
height:3vw;
bottom: 4%;
left: 50%;
transform: translateX(-50%);
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.setupWrapperUp.-darkmode {

height:15vw;
width:39vw;
/*background:red;*/
background:#1F313A;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-top:1%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.setupWrapperB.-darkmode {

height:15vw;
width:39vw;
/*background:red;*/
background:#1F313A;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
margin-bottom:5%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;

}

.today.-darkmode,.lastWeek.-darkmode,.lastMonth.-darkmode {

height:2.5em;
width:6em;
background:#1F313A;
border-radius:4px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
text-align:center;
line-height:2.5em; 
color:white;
cursor: pointer;

}

#nameWrapper.-darkmode {

height:10%;
width:100%;
margin:0 auto;
background:#162428;
display:flex;
align-items: center;
justify-content:start;

}

.heading.-darkmode {

margin-left:5%;
font-size:2rem;
color:white;

}

.statsBox1.-darkmode,.statsBox2.-darkmode,.statsBox3.-darkmode,.statsBox4.-darkmode {

height:21vw;
width:21vw;
background:#1F313A;
border-radius:8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
display:flex;
flex-direction: column;
justify-content:space-between;
margin-top:3%;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

#middleWrapper.-darkmode {
	
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
display: flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
flex-wrap:wrap;
background:#1A2A30;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

#chartWrapper.-darkmode {

height:21vw;
width: 93vw;
background:#1F313A;
border-radius:8px;
position: relative;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

.colorChange.-darkmode {
	
float:right;
border:none;
outline:none;
margin:auto;
height:100%;
width:100px;
background:url(../img/icon2.svg) center / contain no-repeat;
background-size: 60px 60px;
cursor:pointer;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

.chart2,.chart3,.chart4 {

display:none;

}

#middleSettings.-darkmode {
	
display: none;
height:auto;
min-height:80%;
width:100%;	
margin:0 auto;
/*background: red;*/
background:#1A2A30;
-webkit-transition: all .2s linear 0s;
transition: all .2s linear 0s;
	
}

.conditionName.-darkmode {

font-size:40px;
color:white;

}

/*
#middleWrapper.-settings {

display:none;

}*/


@media (max-width: 590px) {

/*
#middleWrapper{

background:red;

}*/

#nameWrapper {

/*min-height:80px;*/
height:auto;
display:block;

}

.plantName {

margin-left:5vw;

}

#conditionWrapper {

margin-left:5vw;

}

#nameWrapper.-darkmode {

/*min-height:80px;*/
height:auto;
display:block;

}

.plantName.-darkmode {

margin-left:5vw;

}

#conditionWrapper.-darkmode {

margin-left:5vw;

}


.heading {

margin-left:5%;
font-size:1.5rem;
color:#97AFAD;

}

.statsBox1,.statsBox2,.statsBox3,.statsBox4 {

height:55vw;
width:55vw;
margin:3%;

}


#chartWrapper {

height:55vw;
width: 80vw;

}

.heading.-darkmode {

margin-left:5%;
font-size:1.5rem;
color:white;

}

.statsBox1.-darkmode,.statsBox2.-darkmode,.statsBox3.-darkmode,.statsBox4.-darkmode {

height:55vw;
width:55vw;
margin:3%;

}


#chartWrapper.-darkmode {

height:55vw;
width: 80vw;

}

}

@media (min-width: 590px) {

.plantName {

font-size:40px;
color:#009E7F;
font-weight:bold;

}


/*
#middleWrapper{

background:grey;

}

*/

.statsBox1,.statsBox2,.statsBox3,.statsBox4 {

height:35vw;
width:35vw;

}


#chartWrapper {

height:35vw;
width: 80vw;

}

.heading {

margin-left:5%;
font-size:1.7rem;
color:#97AFAD;

}

.plantName {

font-size:40px;
margin-left:10vw;

}

.statsBox1.-darkmode,.statsBox2.-darkmode,.statsBox3.-darkmode,.statsBox4.-darkmode {

height:35vw;
width:35vw;

}


#chartWrapper.-darkmode {

height:35vw;
width: 80vw;

}

.plantName.-darkmode {

font-size:40px;
margin-left:10vw;

}

.heading.-darkmode {

margin-left:5%;
font-size:1.7rem;
color:white;

}

}


@media (min-width: 768px) {
/*
#middleWrapper{

background:green;

}*/


.statsBox1,.statsBox2,.statsBox3,.statsBox4 {

height:30vw;
width:30vw;

}


#chartWrapper {

height:30vw;
width: 94vw;

}

.heading {

margin-left:5%;
font-size:1.7rem;
color:#97AFAD;

}


.plantName {

font-size:40px;
margin-left:2vw;

}

.statsBox1.-darkmode,.statsBox2.-darkmode,.statsBox3.-darkmode,.statsBox4.-darkmode {

height:30vw;
width:30vw;

}


#chartWrapper.-darkmode {

height:30vw;
width: 94vw;

}

.heading.-darkmode {

margin-left:5%;
font-size:1.7rem;
color:white;

}

}

@media (min-width: 992px) {
/*
#middleWrapper{

background:yellow;

}*/

.statsBox1,.statsBox2,.statsBox3,.statsBox4 {

height:21vw;
width:21vw;

}


#chartWrapper {

height:21vw;
width: 93vw;

}

.heading {

margin-left:5%;
font-size:1.7rem;
color:#97AFAD;

}


.plantName {

font-size:40px;
margin-left:3vw;

}

.statsBox1.-darkmode,.statsBox2.-darkmode,.statsBox3.-darkmode,.statsBox4.-darkmode {

height:21vw;
width:21vw;

}


#chartWrapper.-darkmode {

height:21vw;
width: 93vw;

}

.heading.-darkmode {

margin-left:5%;
font-size:1.7rem;
color:white;

}

}

@media (min-width: 1200px) {
/*
#middleWrapper{

background:blue;

}*/

.statsBox1,.statsBox2,.statsBox3,.statsBox4 {

height:17vw;
width:17vw;

}


#chartWrapper {

height:17vw;
width: 87vw;

}

.heading {

margin-left:5%;
font-size:1.7rem;
color:#97AFAD;

}

.plantName {

font-size:40px;
margin-left:6.5vw;

}

.heading.-darkmode {

margin-left:5%;
font-size:1.7rem;
color:#97AFAD;

}

.statsBox1.-darkmode,.statsBox2.-darkmode,.statsBox3.-darkmode,.statsBox4.-darkmode {

height:17vw;
width:17vw;

}


#chartWrapper.-darkmode {

height:17vw;
width: 87vw;

}

.heading.-darkmode {

margin-left:5%;
font-size:1.7rem;
color:white;

}

}



@media (min-width: 1400px) {
/*
#middleWrapper{

background:black;

}
*/
.statsBox1,.statsBox2,.statsBox3,.statsBox4 {

height:15.5vw;
width:15.5vw;

}


#chartWrapper {

height:15.5vw;
width: 84.5vw;

}

.heading {

margin-left:5%;
font-size:1.7rem;
color:#97AFAD;

}

.plantName {

font-size:40px;
margin-left:7.5vw;

}


.statsBox1.-darkmode,.statsBox2.-darkmode,.statsBox3.-darkmode,.statsBox4.-darkmode {

height:15.5vw;
width:15.5vw;

}


#chartWrapper.-darkmode {

height:15.5vw;
width: 84.5vw;

}

.heading.-darkmode {

margin-left:5%;
font-size:1.7rem;
color:white;

}


}
